apiVersion: v1
kind: Service
metadata:
  name: [[ .Service.Name ]]
  labels:
    [[- range $k, $v := .Labels ]]
    [[ $k ]]: [[ $v ]]
    [[- end ]]
  [[- if .Annotations ]]
  annotations:
    [[- range $k, $v := .Annotations ]]
    [[ $k ]]: [[ $v ]]
    [[- end ]]
  [[- end ]]
spec:
  type: ClusterIP
  selector:
    app.kubernetes.io/name: [[ .Service.Name ]]
  ports:
    - name: http
      port: {{ .Values.service.port }}
      targetPort: http
